<% title "Contact Form for #{@profile.name}" %>
<% description "Contact form for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, contact, email" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">

        <h1><%= link_to @profile.name %></h1>
        <h2><%= link_to 'Contact', new_profile_message_path(@profile) %></h2>

		<%= form_for @message, url: profile_messages_url do |f| %>
			<%= @message.errors.full_messages.join(', ') %>

			<label>Your Name:</label>
				<%= f.text_field :name %>
			<label>Your E-Mail:</label>
			<%= f.email_field :email %>
			<%= f.hidden_field :profile_url %>
			<label>The Message You Want to Send:</label>
			<%= f.text_area :body %>
			<%= f.submit 'Send' %>
		<% end %>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>