<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :profile_name %>
  </div>

  <div class="field">
    <%= form.label :biography %>
    <%= form.cktext_area :biography, id: :profile_biography %>
  </div>

    <div class="field">
    <%= form.label :filmography %>
    <%= form.cktext_area :filmography, id: :profile_filmography %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
