<ul class="activity-menu-actual">
  <li><%= link_to 'Newsfeed', root_url(profile, subdomain: profile.name.parameterize, host: Settings.host) %></li>
  <% if !profile.photos.nil? && !profile.photos.empty? || current_admin %>
  <li><%= link_to 'Photos' + (profile.photos && !profile.photos.nil? && profile.photos.count > 0 ? (' (' + profile.photos.count.to_s + ')') : ''), profile_photos_path(profile) %></li>
  <% end %>
  <% if !profile.biography.nil? && !profile.biography.empty? || current_admin %>
  <li><%= link_to 'Biography', profile_biography_path(profile) %></li>
  <% end %>
  <% if !profile.albums.nil? && !profile.albums.empty? || current_admin %>
    <li><%= link_to 'Music', profile_albums_path(profile) %></li>
  <% end %>
  <% if !profile.movies.nil? && !profile.movies.empty? || current_admin %>
    <li><%= link_to 'Movies', profile_movies_path(profile) %></li>
  <% end %>
  <li><%= link_to 'Contact', new_profile_message_path(profile) %></li>
  <% if !profile.filmography.nil? && !profile.filmography.empty? || current_admin %>
  <li><%= link_to 'Filmography', profile_filmography_path(profile) %></li>
  <% end %>
  <% if (!profile.wallpapers.nil? && !profile.wallpapers.empty? || !profile.screensavers.nil? && !profile.screensavers.empty? || !profile.videos.nil? && !profile.videos.empty?) || current_admin %>
  <li>
    <%= link_to 'Media', profile_media_path(profile) %>
    <ul>
      <% if !profile.wallpapers.nil? && !profile.wallpapers.empty? || current_admin %>
        <li><%= link_to 'Wallpapers', profile_wallpapers_path(profile) %></li>
      <% end %>
      <% if !profile.screensavers.nil? && !profile.screensavers.empty? || current_admin %>
        <li><%= link_to 'Screensavers', profile_screensavers_path(profile) %></li>
      <% end %>
      <% if !profile.videos.nil? && !profile.videos.empty? || current_admin %>
        <li><%= link_to 'Videos', profile_videos_path(profile) %></li>
      <% end %>
    </ul>
  </li>
  <% end %>
  <li><%= link_to 'Forum', profile_topics_path(profile) %></li>
  <li><%= link_to 'Guestbook', profile_entries_path(profile) %></li>
  <li><%= link_to 'Top 100', profile_credits_path(profile) %></li>
  <li><%= link_to 'Links', profile_links_path(profile) %></li>
</ul>
<br />
<a href="http://www.kqzyfj.com/click-8731735-11306480?cm_mmc=CJ-_-5059889-_-8731735-_-Save%2050%25%20on%20Vegas%20Deals%20100x100%20Banner">
<img src="http://www.tqlkg.com/image-8731735-11306480" width="100" height="100" alt="Save up to 50% on Vegas Shows and Attractions!" border="0"/></a>