<% title "Viewing Biography for #{@profile.name}" %>
<% description "Viewing #{@profile.name}'s biography" %>
<% keywords "#{@profile.name}, biography" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
      	<h1><%= link_to @profile.name, profile_path(@profile) %></h1>
    		<h2>Biography</h2>
        <% if current_admin %>
          <%= link_to 'Edit', edit_profile_path(@profile) %>
        <% end %>
    		<div class="biography">
    			<%= @profile.biography.html_safe %>
    		</div>
      </td>
      <td class="activity-with-menu-right">
        <%= render 'menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>