<% title "Editing #{@profile.name}'s Profile" %>
<% description "Editing #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, profile" %>
<h1>Editing Profile</h1>

<%= render 'form', profile: @profile %>

<%= link_to 'Show This Profile', @profile %> |
<%= link_to 'View All Profiles', profiles_path %>
