<% title "Viewing Filmography for #{@profile.name}" %>
<% description "Viewing #{@profile.name}'s filmography" %>
<% keywords "#{@profile.name}, filmography, films, movies" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
      	<h1><%= link_to @profile.name, profile_path(@profile) %></h1>
    		<h2>Filmography</h2>
        <% if current_admin %>
          <%= link_to 'Edit', edit_profile_path(@profile) %>
        <% end %>
    		<% if !@profile.filmography.nil? %>
        <div class="filmography">
    			<%= @profile.filmography.html_safe %>
    		</div>
        <% end %>
      </td>
      <td class="activity-with-menu-right">
        <%= render 'menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>