<% title "Viewing All Profiles" %>
<% description "Viewing all profiles" %>
<% keywords "celebrity, profiles, profile" %>

<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >

        <p id="notice"><%= notice %></p>

        <h1>Profiles</h1>

        <% if current_admin %>
          <%= link_to 'New Profile', new_profile_path %>
        <% end %>

        <% @profiles.each do |profile| %>

          <h2><%= link_to profile.name, root_url(subdomain: profile.name.parameterize, host: Settings.host) %></h2>

          <%= link_to 'View Profile', root_url(subdomain: profile.name.parameterize, host: Settings.host) %>
          <% if current_admin %>
             | <%= link_to 'Edit', edit_profile_path(profile) %> | 
            <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <p>Photos
            <%= profile.photos ? profile.photos.count : 0 %>
          </p>

          <% r = profile.photos[0] %>
          <% if !r.nil? %>
            <%= link_to(image_tag(r.image.url(:banner)), root_url(subdomain: profile.name.parameterize, host: Settings.host)) %><br />
          <% end %>
        <% end %>
      </td>
      <td class="activity-with-menu-right">
        <% Profile.all.each do |profile| %>
        <% if !profile.nil? %>
        <h3><%= link_to profile.name, root_url(subdomain: profile.name.parameterize, host: Settings.host) %></h3>
        <% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
