 <table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
      	<h1><%= link_to @profile.name, profile_path(@profile) %></h1>
    		<h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'Wallpapers', profile_wallpapers_path(@profile) %></h3>
        <% if !@profile.wallpapers.nil? && !@profile.wallpapers.empty? || current_admin %>
          <% @wallpapers.each do |wallpaper| %>
            <div class="wallpaper">
              <% if !wallpaper.image.nil? %>
                <%= link_to(image_tag(wallpaper.image.url(:thumb)), profile_wallpaper_path(@profile, wallpaper)) %>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <% if !@profile.screensavers.nil? && !@profile.screensavers.empty? || current_admin %>
          <h3><%= link_to 'ScreenSavers', profile_screensavers_path(@profile) %></h3>
          <table cellpadding="0" cellspacing="0">
            <tbody>
              <% @screensavers.each do |screensaver| %>
                <tr>
                  <td valign="top" align="left">
                    <%= link_to(screensaver.title, profile_screensaver_path(@profile, screensaver)) %><br /><br />
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>

        <% if !@profile.videos.nil? && !@profile.videos.empty? || current_admin %>
          <h3><%= link_to 'Videos', profile_videos_path(@profile) %></h3>
          <% @videos.each do |video| %>
            <div class="video">
            <% if !video.youtube_video_url.nil? %>
              <%= youtube_video_html(225, video.youtube_video_url).html_safe %>
              <br />          
              <%= link_to video.title, profile_video_path(@profile, video) %>
            <% end %>
            </div>
          <% end %>
        <% end %>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>