<% title "Creating a New Profile" %>
<% description "Creating a new profile for promotion and content acquisision" %>
<% keywords "#{@profile.name}, media, screensavers, wallpapers, videos" %>
<h1>New Profile</h1>

<%= render 'form', profile: @profile %>

<%= link_to 'Back', profiles_path %>
