<% title "Viewing Profile #{@profile.name}" %>
<% description "Viewing profile for #{@profile.name} and review the latest newsfeed of recent content" %>
<% keywords "#{@profile.name}, newsfeed" %>

<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >

        <p id="notice"><%= notice %></p>

        <h1>
          <%= link_to @profile.name, root_url(subdomain: @profile.name.parameterize) %>
        </h1>
        <h2>Newsfeed</h2>

        <%= link_to 'Profiles', profiles_path %>
        <% if current_admin %>
         | <%= link_to 'Edit This Profile', edit_profile_path(@profile) %> |
        <%= link_to 'Or Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <p>
          <ul style="margin: 0; padding: 0; display: inline; list-style-type: none;">
          <% @photos.each do |r| %>
            <% page = @profile.photo_page(@photos_page, r.id) %>
            <% url = profile_photos_path(@profile, :page => page) %>
            <li style="display: inline;">
              <strong>Created On:</strong> <%= r.created_at.strftime("%B %d, %Y") %><br />
              <%= link_to 'New Photo Uploaded', url %><br >
              <%= link_to(image_tag(r.image.url(:banner)), url) %><br />

            </li>
          <% end %>
          </ul>
        </p>

        <% if @profile.photos.empty? %>
        <%= @profile.biography.html_safe %>
        <% end %>
        <p>
      </td>
      <td class="activity-with-menu-right">
        <%= render 'menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>
