  <%= form_with(model: track, local: true) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :track_title %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.text_field :length, id: :track_length %>
  </div>

  <div class="field">
    <%= form.label :youtube_video_url %>
    <%= form.text_field :youtube_video_url, id: :track_youtube_video_url %>
  </div>

  <div class="field">
    <%= form.label :album_id %>
    <%= form.select :album_id, Album.pluck(:title, :id) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
