<% title "Edit Track for Album with #{@profile.name}" %>
<% description "Editing track for #{@profile.name}'s for the album #{@album.title}." %>
<% keywords "#{@profile.name}, Music, Albums, Tracks, Singles" %>
<h1>Editing Track</h1>

<%= render 'form', track: @track %>

<%= link_to 'Show', @track %> |
<%= link_to 'Back', profile_album_tracks_path(@profile, @album) %>
