<% title "Show Tracks for Album with #{@profile.name}" %>
<% description "Showing tracks for #{@profile.name}'s for the album #{@album.title}." %>
<% keywords "#{@profile.name}, Music, Albums, Tracks" %>
<p id="notice"><%= notice %></p>

<h1>Tracks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Length</th>
      <th>Album</th>
      <th>YouTube</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.title %></td>
        <td><%= track.length %></td>
        <td><%= track.album_id %></td>
        <td><%= track.youtube_video_url.nil? ? link_to(image_tag('youtube.png', width: 16, height: 16), track : '' %></td>
        <td><%= link_to 'Show', track %></td>
        <td><%= link_to 'Edit', edit_track_path(track) %></td>
        <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Track', new_profile_album_track_path(@profile, @album) %>
