<% title "Track for Album with #{@profile.name}" %>
<% description "Showing track '#{@track.title}' for #{@profile.name}'s for the album #{@album.title}." %>
<% keywords "#{@profile.name}, Music, Albums, Tracks, Singles" %>
<table class="activity-with-menu">
  	<tbody>
    	<tr>
      		<td class="activity-with-menu-left" >

				<h1><%= link_to @profile.name, @profile %></h1>
		        <h2><%= link_to 'Music', profile_albums_path(@album.profile) %></h2>
		        <h3><%= link_to @album.title, album_path(@album) %></h3>
				
				<p id="notice"><%= notice %></p>
		        
		        <% if !@album.image.nil? %>
		        <%= link_to(image_tag(@album.image.url(:small)), album_path(@album)) %><br />
		        <% end %>
				
				<p>
				  <strong>Title:</strong>
				  <%= @track.title %>
				</p>

				<p>
				  <strong>Length:</strong>
				  <%= @track.length %>
				</p>

				<p>
				  <strong>Album:</strong>
				  <%= !@track.album.nil? ? @track.album.title : '' %>
				</p>

				<% if !@track.youtube_video_url.nil? %>
					<%= youtube_video_html(300, @track.youtube_video_url).html_safe %>
				<% end %>

				<% if current_admin %>
					<%= link_to 'Edit', edit_profile_album_track_path(@profile, @album, @track) %> |
				<% end %>

				<br /><br />
				<%= link_to 'View Full Album', profile_album_tracks_path(@profile, @album) %>
			</td>
      		<td class="activity-with-menu-right">
        		<%= render 'profiles/menu', profile: @profile %>
      		</td>
    	</tr>
  	</tbody>
</table>