<% title "All Guestbook Entries for #{@profile.name}" %>
<% description "View all guestbook entries for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, guestbook, entry" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Guestbook', profile_entries_path(@profile) %></h2>
        
        <%= link_to 'Sign the Guestbook', new_profile_entry_path(@profile) %>
        
        <p>
        The Guestbook is intended to allow short messages letting the community know you were here. Sign the Guestbook and share a moment with the public.    
        </p>

        <p id="notice"><%= notice %></p>

        <table border="1" class="guestbook">
          <thead>
            <tr>
              <th class="createdBy">User</th>
              <th class="body">Entry</th>
            </tr>
          </thead>

          <tbody>
            <% if !@entries.any? %>
              <tr>
                  <td class="empty" colspan="2">No entries yet</td>
              </tr>
            <% end %>
            <% @entries.each do |entry| %>
              <tr>
                <td class="createdBy">Created by: <%= entry.user.name %></td>
                <td class="body">
                  <p>
                    <%= entry.body %>
                  </p>
                  <%= link_to 'Edit', edit_profile_entry_path(@profile, entry) %>
                  <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
                
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>