<% title "New Guestbook Entry for #{@profile.name}" %>
<% description "New guestbook entry for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, guestbook, entry" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Guestbook', profile_entries_path(@profile) %></h2>
        <h3>New Entry</h3>
        <p id="notice"><%= notice %></p>

<%= render 'form', entry: @entry %>

<%= link_to 'Back', profile_entries_path(@profile) %>
  	  </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>