<% title "Guestbook Entry for #{@profile.name}" %>
<% description "View guestbook entry for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, guestbook, entry" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Guestbook', profile_entries_path(@profile) %></h2>
        <h3>Showing Entry</h3>
        
        <p id="notice"><%= notice %></p>

		<p>
		  <strong>Created by:</strong>
		  <%= @entry.user.name %>
		</p>

		<p>
		  <strong>Body:</strong>
		  <%= @entry.body %>
		</p>


		<%= link_to 'Edit', edit_profile_entry_path(@profile, @entry) %> |
		<%= link_to 'Back', profile_entries_path(@profile) %>
  	  </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>