<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :movie_title %>
  </div>

  <div class="field">
    <%= form.label :plot %>
    <%= form.text_area :plot, id: :movie_plot %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.select :profile_id, Profile.pluck(:name, :id) %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :runtime_minutes %>
    <%= form.text_field :runtime_minutes, id: :movie_runtime_minutes %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.datetime_select :release_date, id: :movie_release_date %>
  </div>

  <div class="field">
    <%= form.label :mpaa_rating %>
    <%= form.text_field :mpaa_rating, id: :movie_mpaa_rating %>
  </div>

  <div class="field">
    <%= form.label :genre_category %>
    <%= form.text_field :genre_category, id: :movie_genre_category %>
  </div>

  <div class="field">
    <%= form.label :trailer_youtube_url %>
    <%= form.text_field :trailer_youtube_url, id: :movie_trailer_youtube_url %>
  </div>

  <div class="field">
    <%= form.label :budget %>
    <%= form.text_field :budget, id: :movie_budget %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
