<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <p id="notice"><%= notice %></p>
        <h1><%= link_to @profile.name, @profile %></h1>
        <h2>Editing Movies</h2>

    		<%= render 'form', movie: @movie %>

    		<%= link_to 'View Movie Details', @movie %> |
    		<%= link_to 'View All Movies', profile_movies_path %>
  	  </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>