<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
        <p id="notice"><%= notice %></p>

        <h1><%= link_to @profile.name, @profile %></h1>
        <h2><%= link_to 'Movies', profile_movies_path(@profile, @movie) %></h2>

        <% if current_admin %>
          <%= link_to 'New Movie', new_profile_movie_path %><br />
        <% end %>

        <%= will_paginate @movies %><br />

        <% @movies.each do |movie| %>
            <%= link_to movie.title, movie %><br />

            <% if !movie.image.nil? %>
              <%= link_to(image_tag(movie.image.url(:small)), profile_movie_path(@profile, movie)) %><br /><br />
            <% end %>

            <% if current_admin %>
              <%= link_to 'Edit', edit_profile_movie_path(@profile, movie) %> | 
              <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure you want to delete this Movie?' } %>  
            <% end %>
        <% end %>
        <br /><br />
        <%= will_paginate @movies %>  
        <%= page_entries_info @movies %><br />
        <br />

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>