<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
      	<h1><%= link_to @profile.name, @profile %></h1>
        <h2>New Movie</h2>

    		<%= render 'form', movie: @movie %>

    		<%= link_to 'View Profile Movies', profile_movies_path(@profile) %>
      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>