<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">

      <p id="notice"><%= notice %></p>
        <h1><%= link_to @profile.name, @profile %></h1>
        <h2><%= link_to 'Movies', profile_movies_path(@profile, @movie) %></h2>
        <h3><%= link_to @movie.title, profile_movie_path(@profile, @movie) %></h3>
      
      <% if !@movie.image.nil? %>
        <%= link_to(image_tag(@movie.image.url(:medium)), profile_movie_path(@profile, @movie)) %><br /><br />
      <% end %>

      <p>
        <strong>Plot:</strong>
        <%= @movie.plot %>
      </p>

      <p>
        <strong>Runtime:</strong>
        <%= @movie.runtime_minutes %> minutes
      </p>

      <p>
        <strong>Release date:</strong>
        <%= @movie.release_date.strftime("%B %d, %Y") %>
      </p>

      <p>
        <strong>MPAA Rating:</strong>
        <%= @movie.mpaa_rating %>
      </p>

      <p>
        <strong>Genre/Category:</strong>
        <%= @movie.genre_category %>
      </p>

      <p>
        <strong>Budget:</strong>
        <%= @movie.budget %>
      </p>

      <% if !@movie.trailer_youtube_url.nil? %>
          <%= youtube_video_html(300, @movie.trailer_youtube_url).html_safe %>
        <% end %>

      <br /><br />

      <%= link_to 'View All Movies', profile_movies_path(@profile) %>
      <% if current_admin %>
       | <%= link_to 'Edit Movie', edit_profile_movie_path(@profile, @movie) %>
      <% end %>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>