<% title "Wallpapers for #{@profile.name}'s Profile" %>
<% description "Viewing wallpaper media for #{@profile.name}'s profile " %>
<% keywords "#{@profile.name}, media, wallpapers" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'Wallpapers', profile_wallpapers_path(@profile) %></h3>

        <h4>Editing Wallpaper</h4>

<%= render 'form', wallpaper: @wallpaper %>

<%= link_to 'Show Wallpaper', profile_wallpaper_path(@profile, @wallpaper) %> |
<%= link_to 'View All Wallpapers', profile_wallpapers_path(@profile) %>


      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>