<% title "Wallpapers for #{@profile.name}'s Profile" %>
<% description "Viewing wallpaper media for #{@profile.name}'s profile " %>
<% keywords "#{@profile.name}, media, wallpapers" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'Wallpapers', profile_wallpapers_path(@profile) %></h3>
        
        <% if current_admin %>
          <%= link_to 'New Wallpaper', new_profile_wallpaper_path %>
        <% end %>
      
      <p id="notice"><%= notice %></p>

    <% @wallpapers.each do |wallpaper| %>
      <div class="wallpaper">
        <% if !wallpaper.image.nil? %>
            <%= link_to(image_tag(wallpaper.image.url(:thumb)), profile_wallpaper_path(@profile, wallpaper)) %>
            <% end %>
        
        <% if current_admin %>
          <br /><%= link_to 'Edit', edit_wallpaper_path(wallpaper) %>
           | <%= link_to 'Destroy', wallpaper, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>


<br>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>

