<% title "New Wallpaper for #{@profile.name}'s Profile" %>
<% description "Create new wallpaper media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, wallpapers" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
		<h3>New Wallpaper</h3>

		<%= render 'form', wallpaper: @wallpaper %>

		<%= link_to 'Back', profile_wallpapers_path(@profile) %>
      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>