<% title "View Wallpaper for #{@profile.name}'s Profile" %>
<% description "Viewing wallpaper media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, wallpapers" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'Wallpapers', profile_wallpapers_path(@profile) %></h3>
        
		<p>
		  <strong>Title:</strong>
		  <%= @wallpaper.title %>
		</p>

		<% if !@wallpaper.image.nil? %>
						<%= link_to(image_tag(@wallpaper.image.url(:medium)), @wallpaper.image.url(:wallpaper_large)) %><br /><br />
						<% end %>

		<%= link_to 'View All Wallpapers', profile_wallpapers_path(@profile) %>
		<% if current_admin %>
		 | <%= link_to 'Edit Wallpaper', edit_profile_wallpaper_path(@profile, @wallpaper) %>
		<% end %>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>