<%= form_with(model: topic, local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :topic_label %>
  </div>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message, id: :topic_message %>
  </div>

  <%= form.hidden_field :profile_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
