<% title "View All Forum Topics for #{@profile.name}'s Profile" %>
<% description "View all forum topics for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, forum, topic" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Forum', profile_topics_path(@profile) %></h2>

<p id="notice"><%= notice %></p>

<%= link_to 'Create a New Topic', new_profile_topic_path(@profile) %>
<br /><br />

<p>
Forum's on Purefame are meant to discuss in depth topics down to a conclusion. Anyone can start a new topic to discuss with the open community.   
</p>

<table width="100%" border="1">
  <thead>
    <tr>
      <th align="left" width="74%">Topic</th>
      <th align="left" width="1%">Posts</th>
      <th align="left" width="25%">Last Post</th>
    </tr>
  </thead>

  <tbody>
    <% if !@topics.any? %>
      <tr>
        <td colspan="3">No topics yet</td>
      </tr>
    <% end %>
    <% @topics.each do |topic| %>
      <% cache ["v1", topic] do %>
      <tr>
        <td>
          <%= link_to topic.label, profile_topic_posts_path(@profile, topic) %>  
        </td>
        <td>
          <%= topic.post_total %>
        </td>
        <td>
          <%= format_last_post(topic.last_post).html_safe %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


     </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>

