<% title "Create Forum Topic for #{@profile.name}'s Profile" %>
<% description "Create forum topic for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, forum, topic" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Forum', profile_topics_path(@profile) %></h2>
        <h3>New Topic</h3>

		<%= render 'form', topic: @topic %>

		<%= link_to 'Back', profile_topics_path(@profile) %>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>
