<% title "View Forum Topic for #{@profile.name}'s Profile" %>
<% description "View forum topic for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, forum, topic" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Forum', profile_topics_path(@profile) %></h2>
        <h3>Topic</h3>

        <p id="notice"><%= notice %></p>

        <table width="100%" border="1" class="forum">
          <thead>
            <tr>
              <td colspan="2" class="topic">
                <%= @topic.label %>
                <% if current_user && @topic.user == current_user %>
                  <%= link_to 'Edit', edit_profile_topic_path(@profile, @topic) %>
                <% end %>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="createdBy">
                <p>
                  <strong>Created by:</strong>
                  <%= @topic.user.name %>
                </p>
              </td>
              <td class="body">
                <p>
                  <%= @topic.message %>
                </p>
              </td>
            </tr>
            <% @topic.posts.each do |post| %>
              <tr>
                <td class="createdBy">
                  <p>
                    <strong>Created by:</strong>
                    <%= post.user.name %>
                  </p>
                </td>
                <td class="body">
                  <p>
                    <%= post.body %>
                  </p>

                  <% if current_user && post.user == current_user %>
                    <%= link_to 'Edit', edit_profile_topic_post_path(@profile, @topic, post) %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br />
        <%= link_to 'New Post', new_profile_topic_post_path(@profile, @topic) %>
         | <%= link_to 'View All Topics', profile_topics_path(@profile) %>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>