<%= form_with(model: video, local: true) do |form| %>
  <% if video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :video_title %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.select :profile_id, Profile.pluck(:name, :id) %>
  </div>

  <div class="field">
    <%= form.label :youtube_video_url %>
    <%= form.text_field :youtube_video_url, id: :video_youtube_video_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
