<% title "Edit Videos for #{@profile.name}'s Profile" %>
<% description "Edit video media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, videos, video" %>

<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'Videos', profile_videos_path(@profile) %></h3>
		<h4>Editing Video</h4>

		<%= render 'form', video: @video %>

		<%= link_to 'Show Video', @video %> |
		<%= link_to 'View All Videos', profile_videos_path(@profile) %>


      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>