<% title "View All Videos for #{@profile.name}'s Profile" %>
<% description "View video media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, videos, video" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'Videos', profile_videos_path(@profile) %></h3>
        <p id="notice"><%= notice %></p>
        
        <% if current_admin %>
          <%= link_to 'New Video', new_profile_video_path(@profile) %><br /><br />
        <% end %>
      
        <% @videos.each do |video| %>
          <div class="video">
          <% if !video.youtube_video_url.nil? %>
            <%= youtube_video_html(225, video.youtube_video_url).html_safe %>
            <br />          
            <%= link_to video.title, profile_video_path(@profile, video) %>
          <% end %>
          <br />
          <% if current_admin %>
            <%= link_to 'Edit Video', edit_profile_video_path(@profile, video) %>
             | <%= link_to 'Destroy Video', video, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </div>
        <% end %>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>
