<% title "New Video for #{@profile.name}'s Profile" %>
<% description "New video media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, videos, video" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
      	<h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'Videos', profile_videos_path(@profile) %></h3>
		<h4>New Video</h4>
		<%= render 'form', video: @video %>

		<%= link_to 'Back', profile_videos_path(@profile) %>
      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>
