<% title "View Video for #{@profile.name}'s Profile" %>
<% description "View video media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, videos, video" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
      	<h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'Videos', profile_videos_path(@profile) %></h3>

		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Title:</strong>
		  <%= @video.title %>
		</p>

		<p>
      <%= youtube_video_html(225, @video.youtube_video_url).html_safe %>
		</p>

		<%= link_to 'Edit', edit_profile_video_path(@profile, @video) %> |
		<%= link_to 'View All Videos', profile_videos_path(@profile) %>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>