<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
      	<h1>Editing News</h1>

		<%= render 'form', news: @news %>

		<%= link_to 'Show', @news %> |
		<%= link_to 'Back', news_index_path %>      
      </td>
    </tr>
  </tbody>
</table>