<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <p id="notice"><%= notice %></p>

<h1>Blog</h1>

<% if current_admin %>
<%= link_to 'New News', new_news_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th align="left"></th>
<% if current_admin %>
      <th></th>
<% end %>
    </tr>
  </thead>

  <tbody>
    <% if !@news.any? %>
      <tr>
        <td colspan="2">
          No news articles yet.
        </td>
      </tr>
    <% end %>
    <% @news.each do |news| %>
      <tr>
        <td>
          <h3><%= link_to news.title, news %></h3>
          <h4><%= news.created_at.strftime("%B %d, %Y @ %I:%M %p") %></h4>
          <%= news.topic %><br />

          <p><%= news.body.html_safe %></p>  
        </td>
      </tr>
      <tr>
<% if current_admin %>
        <td>
          <%= link_to 'Edit', edit_news_path(news) %>
          <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

      
      </td>
    </tr>
  </tbody>
</table>