<p id="notice"><%= notice %></p>

<h3><%= @news.title %></h3>

<h4><%= @news.created_at.strftime("%B %d, %Y @ %I:%M %p") %></h4>

<p>
  <strong>Topic:</strong>
  <%= @news.topic %>
</p>


<p>
  <%= @news.body.html_safe %>
</p>

<%= link_to 'Back', news_index_path %>
<% if current_admin %>
 | <%= link_to 'Edit', edit_news_path(@news) %>
<% end %>