<% title "Edit Link for #{@profile.name}" %>
<% description "Edit link for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, link, links" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <p id="notice"><%= notice %></p>
        <h1><%= link_to @profile.name, @profile %></h1>
        <h2><%= link_to 'Links', profile_links_path(@profile) %></h2>
        <h3>Editing Links</h3>

		<%= render 'form', link: @link %>

		<%= link_to 'Show', profile_link_path(@profile, @link) %> |
		<%= link_to 'View All Links', profile_links_path(@profile) %>
  	  </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>