<% title "All Links for #{@profile.name}" %>
<% description "View all links for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, link, links" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <p id="notice"><%= notice %></p>
        <h1><%= link_to @profile.name, @profile %></h1>
        <h2><%= link_to 'Links', profile_links_path(@profile) %></h2>
        <p id="notice"><%= notice %></p>
        <% if current_admin %>
          <%= link_to 'New Link', new_profile_link_path %>
        <% end %>

        <p>
          The Links are for sharing permanent space with other important factors to <%= @profile.name %>. To recommend a new website that should share the space on here, <%= link_to 'contact us', new_profile_message_path(@profile) %> and we'll take it under advice.
        </p>

        <table width="100%">
          <tbody>
            <% if !@links.any? %>
                <tr>
                  <td>
                    No links yet.
                  </td>
                </tr>
            <% end %> 
            <% @links.each do |link| %>
              <tr>
                <td><%= link_to link.title, link.url, target: '_blank' %></td>
                <% if current_admin %>
                <td width="1%">
                  <%= link_to 'Show', link %>
                  <%= link_to 'Edit', edit_link_path(link) %>
                  <%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>