<% title "Show Link for #{@profile.name}" %>
<% description "Show link for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, link, links" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, @profile %></h1>
        <h2><%= link_to 'Links', profile_links_path(@profile) %></h2>
        <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @link.profile_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<%= link_to 'Edit', edit_profile_link_path(@profile, @link) %> |
<%= link_to 'Back', profile_links_path(@profile) %>
  	  </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>