<% title "Edit Music for #{@profile.name}" %>
<% description "Editing music with albums for #{@profile.name}'s." %>
<% keywords "#{@profile.name}, Music, Albums" %>
<h1>Editing Album</h1>

<%= render 'form', album: @album %>

<%= link_to 'Show', @album %> |
<%= link_to 'Back', profile_albums_path(@profile) %>
