<% title "Music for #{@profile.name}" %>
<% description "View music with albums for #{@profile.name}'s." %>
<% keywords "#{@profile.name}, Music, Albums" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <p id="notice"><%= notice %></p>

        <h1><%= link_to @profile.name, @profile %></h1>
        <h2><%= link_to 'Music', profile_albums_path(@profile) %></h2>
        
        <% if current_admin %>  
        <%= link_to 'New Album', new_profile_album_path %> <br />
        <% end %>
        <% @albums.each do |album| %>
          <h2><%= link_to album.title, profile_album_path(@profile, album) %></h2>
          <% if !album.image.nil? %>
          <%= link_to(image_tag(album.image.url(:small)), profile_album_path(@profile, album)) %><br />
          <% end %>
          <h3>Released: <%= album.release_date.strftime("%B %d, %Y") %></h3>
          <% if current_admin %>
            <%= link_to 'Show', album %> | 
            <%= link_to 'Edit', edit_profile_album_path(@profile, album) %> | 
            <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %><br />
          <% end %>
        <% end %>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>