<% title "New Music for #{@profile.name}" %>
<% description "Create music with albums for #{@profile.name}'s." %>
<% keywords "#{@profile.name}, Music, Albums" %>
<h1>New Album</h1>

<%= render 'form', album: @album %>

<%= link_to 'View All Profile Music', profile_albums_path(@profile) %>
