<% title "Music for #{@profile.name}" %>
<% description "View music for #{@profile.name}'s profile for the album #{@album.title}." %>
<% keywords "#{@profile.name}, Music, Albums, #{@album.title}" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <p id="notice"><%= notice %></p>

        <h1><%= link_to @album.profile.name %></h1>
        <h2><%= link_to 'Music', profile_albums_path(@album.profile) %></h2>
        <h3><%= link_to @album.title, album_path(@album) %></h3>

        <% if current_admin %>
        <%= link_to 'Edit Album', edit_profile_album_path(@profile, @album) %><br /><br />
        <% end %>
        
        <% if !@album.image.nil? %>
        <%= link_to(image_tag(@album.image.url(:small)), album_path(@album)) %><br />
        <% end %>

        <h4>Released: <%= @album.release_date.strftime("%B %d, %Y") %></h4>
        <h4>Label: <strong><%= @album.label %></strong></h4>
        <p><%= @album.description %></p>

        <table>
          <% if @album.tracks.length > 0 %>
          <thead>
            <tr>
              <th>Track</th>
              <th>Title</th>
              <th>Length</th>
              <th></th>
              <% if current_admin %>
              <th colspan="3"></th>
              <% end %>
            </tr>
          </thead>
          <% end %>
          <tbody>
            <% @album.tracks.each_with_index do |track, idx| %>
              <tr>
                <td><%= idx + 1 %></td>
                <td><%= link_to track.title, track %></td>
                <td><%= track.length %></td>
                <td><%= !youtube_video_html(500, track.youtube_video_url).empty? ? link_to(image_tag('youtube-white.png', width: 32, height: 32), track) : '' %></td>
                <% if current_admin %>
                <td><%= link_to 'Show', track %></td>
                <td><%= link_to 'Edit', edit_track_path(track) %></td>
                <td><%= link_to 'Destroy', track, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
        <% if current_admin %>        
        <%= link_to 'New Track', new_profile_album_track_path(@profile, @album) %>
        <% end %>
      </td>
          <td class="activity-with-menu-right">
            <%= render 'profiles/menu', profile: @profile %>
          </td>
      </tr>
    </tbody>
</table>