<%= form_with(model: credit, local: true) do |form| %>
  <% if credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, 'Website Name' %>
    <%= form.text_field :title, id: :credit_title %>
  </div>

  <div class="field">
    <%= form.label :url, 'Website URL Address' %>
    <%= form.text_field :url, id: :credit_url %>
  </div>

  <%= form.hidden_field :profile_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
