<% title "Edit Top 100 Website for #{@profile.name}" %>
<% description "Edit Top 100 website for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, top100, websites, credits" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Top 100', profile_credits_path(@profile) %></h2>

        <h1>Editing Credit</h1>

		<%= render 'form', credit: @credit %>

		<%= link_to 'Show', profile_credit_path(@profile, @credit) %> |
		<%= link_to 'Back', profile_credits_path(@profile) %>
  	  </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>