<% title "All Top 100 Websites for #{@profile.name}" %>
<% description "All Top 100 websites for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, top100, websites, credits" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Top 100', profile_credits_path(@profile) %></h2>
        
        <% if current_user && !Credit.where(profile_id: @profile.id, user_id: current_user["id"]).any? || !current_user %>
          <%= link_to 'Add Your Website', new_profile_credit_path(@profile) %>
        <% end %>

        <p>The Top 100 category on Purefame allows other webmasters to share in the publicity of openly exchanging links. As a viewer, you can see how many people have come through and left the site for each of the competing websites.</p>

        <p id="notice"><%= notice %></p>

        <table class="top100" border="1">

          <thead>
            <tr>
              <th class="place"></th>
              <th class="title"></th>
              <th class="hitsOut">Hits Out</th>
              <th class="hitsIn">Hits In</th>
              <th class="actions"></th>
            </tr>
          </thead>

          <tbody>
            <% if !@credits.any? %>
              <tr>
                <td colspan="5">No credits yet</td>
              </tr>
            <% end %>
            <% @credits.each_with_index do |credit, index| %>
              <tr>
                <td class="place"><%= index + 1 %>.</td>
                <td class="title"><%= link_to credit.title, profile_credit_out_path(@profile, credit), :target => '_blank' %></td>
                <td class="hitsOut"><%= credit.hits_out %></td>
                <td class="hitsIn"><%= credit.hits_in %></td>
                <td>
                  <% if current_user && credit.user == current_user %>
                    <%= link_to 'Show', profile_credit_path(@profile, credit) %>
                    <%= link_to 'Edit', edit_profile_credit_path(@profile, credit) %>
                    <%= link_to 'Destroy', credit, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>