<% title "View Top 100 Website for #{@profile.name}" %>
<% description "View Top 100 website for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, top100, websites, credits" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left" >
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Top 100', profile_credits_path(@profile) %></h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @credit.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @credit.url %>
</p>

<p>
  <strong>URL to use for linking:</strong>
  <%= link_to profile_credit_in_url(@profile, @credit), profile_credit_in_url(@profile, @credit) %>

</p>

<style>
.top100LinkIn {
  font-size: 9pt;
  width: 300px;
  height: 50px;
}
</style>
<textarea class="top100LinkIn">
<a href="<%= profile_credit_in_url(@profile, @credit) %>">Purefame - <%= @profile.name %></a>
</textarea>

<%= link_to 'Edit', edit_profile_credit_path(@profile, @credit) %> |
<%= link_to 'Back', profile_credits_path(@profile) %>
     </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>