<%= form_with(model: screensaver, local: true) do |form| %>
  <% if screensaver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(screensaver.errors.count, "error") %> prohibited this screensaver from being saved:</h2>

      <ul>
      <% screensaver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :screensaver_title %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.select :profile_id, Profile.pluck(:name, :id) %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :screensaver_description %>
  </div>

  <div class="field">
    <%= form.label :application %>
    <%= form.file_field :application %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
