<% title "Edit Screensaver for #{@profile.name}'s Profile" %>
<% description "Edit screensaver media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, screensaver, screensavers" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'ScreenSavers', profile_screensavers_path(@profile) %></h3>
        <h4>Editing ScreenSaver</h4>

		<%= render 'form', screensaver: @screensaver %>

		<%= link_to 'Show', profile_screensavers_path(@profile, @screensaver) %> |
		<%= link_to 'Back', profile_screensavers_path(@profile) %>
      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>