<% title "View Screensavers for #{@profile.name}'s Profile" %>
<% description "Show all screensaver media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, screensaver, screensavers" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'ScreenSavers', profile_screensavers_path(@profile) %></h3>

        <% if current_admin %>
          <%= link_to 'New ScreenSaver', new_profile_screensaver_path %>
        <% end %>
        
        <p id="notice"><%= notice %></p>

        <table cellpadding="0" cellspacing="0">
          <tbody>
            <% @screensavers.each do |screensaver| %>
              <tr>
                <td valign="top" align="left">
                  <% if !screensaver.application.nil? %>
                    <%= link_to(screensaver.title, screensaver.application.url) %><br /><br />
                  <% else %>
                    <%= screensaver.title %>
                  <% end %>
                </td>
                <td valign="top" align="left">
                  <%= link_to 'Show', profile_screensaver_path(@profile, screensaver) %>
                  <% if current_admin %>
                   | <%= link_to 'Edit', edit_profile_screensaver_path(@profile, screensaver) %>
                   | <%= link_to 'Destroy', screensaver, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>


        <br />

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>

