<% title "New Screensaver for #{@profile.name}'s Profile" %>
<% description "New screensaver media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, screensaver, screensavers" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
      	<h1>New ScreenSaver</h1>

<%= render 'form', screensaver: @screensaver %>

<%= link_to 'Back', profile_screensavers_path(@profile) %>
      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>
