<% title "View Screensaver for #{@profile.name}'s Profile" %>
<% description "View screensaver media for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, media, screensaver, screensavers" %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td class="activity-with-menu-left">
      	<h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Media', profile_media_path(@profile) %></h2>
        <h3><%= link_to 'Screensavers', profile_screensavers_path(@profile) %></h3>

		<p id="notice"><%= notice %></p>

		<div class="screensaver">
			<% if !@screensaver.application.nil? %>
				<%= link_to(@screensaver.title, @screensaver.application.url) %><br /><br />
			<% else %>
				<p>
				  <strong>Title:</strong>
				  <%= @screensaver.title %>
				</p>
			<% end %>

			<% if !@screensaver.description.nil? %>
			<p>
			  <%= @screensaver.description %>
			</p>
			<% end %>

			<%= link_to 'View All ScreenSavers', profile_screensavers_path(@profile) %>
			<% if current_admin %>
				 | <%= link_to 'Edit ScreenSaver', edit_profile_screensaver_path(@profile, @screensaver) %>
			<% end %>
		</div>
		
      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>