<% title "Edit Profile Photo for #{@profile.name}" %>
<% description "Editing Photo for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, photos" %>
<h1>Editing Photo</h1>

<%= render 'form', photo: @photo %>

<%= link_to 'Show', @photo %> |
<%= link_to 'Back', profile_photos_path(@profile) %>
