<% title "View Photos for #{@profile.name}" %>
<% description "View all photos for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, photos" %>
<% @photos.each do |p| %>
<table class="activity-with-menu">
  <tbody>
    <tr>
      <td colspan="2">
        <%= will_paginate @photos %>
      </td>
    </tr>
    <tr>
      <td class="activity-with-menu-left" >
        <p id="notice"><%= notice %></p>

        <h1><%= link_to @profile.name, root_url(subdomain: @profile.name.parameterize) %></h1>
        <h2>Photos</h2>

        <% if current_admin %>
          <%= link_to 'Edit', edit_photo_path(p) %> |
          <%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %> | 
          <%= link_to 'New Photo', new_profile_photo_path(@profile) %><br />
        <% end %>


          <%= link_to(image_tag(p.image.url(:medium)), profile_photos_path(@profile, :page => params[:page]) ) %>


        <p>
          <strong>Title:</strong>
          <%= p.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= p.description %>
        </p>

        <br />


        <%= will_paginate @photos %>  
        <%= page_entries_info @photos %><br />
<br />
<a href="http://www.jdoqocy.com/click-8731735-13012437">
<img src="http://www.awltovhc.com/image-8731735-13012437" width="468" height="60" alt="Event Tickets at TicketNetwork.com" border="0"/></a>

      </td>
      <td class="activity-with-menu-right">
        <%= render 'profiles/menu', profile: @profile %>
      </td>
    </tr>
  </tbody>
</table>

<% end %>
