<% title "New Photo for #{@profile.name}" %>
<% description "New photo for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, photos, photo" %>
<h1>New Photo</h1>

<%= render 'form', photo: @photo %>

<%= link_to 'Back', profile_photos_path(@profile) %>
