<% title "View Photo for #{@profile.name}" %>
<% description "View photo for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, photos, photo" %>
<table class="activity-with-menu">
  	<tbody>
    	<tr>
      		<td class="activity-with-menu-left" >

				<h1><%= link_to @profile.name, @profile %></h1>

				<%= link_to 'Back to Photos', profile_photos_path(@profile, :page => params[:page]) %>
				<% if current_admin %>
					 | <%= link_to 'Edit', edit_photo_path(@photo) %> |
					<%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
				<% end %>
				
				<p id="notice"><%= notice %></p>

				<% if !@photo.image.nil? %>
				<%= link_to(image_tag(@photo.image.url(:medium)), photo_path(@photo)) %><br /><br />
				<% end %>
				
				<p>
				  <strong>Title:</strong>
				  <%= @photo.title %>
				</p>

				<p>
				  <strong>Description:</strong>
				  <%= @photo.description %>
				</p>
			</td>
      		<td class="activity-with-menu-right">
        		<%= render 'profiles/menu', profile: @profile %>
      		</td>
    	</tr>
  	</tbody>
</table>