<h1>Submit Photo to Profile</h1>

<%= form_with(scope: @photo, url: accept_image_to_profile_path, local: true, html: { multipart: true }) do |form| %>
	<%= form.hidden_field :remote_image_url %>

    <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :photo_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :photo_description %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.select :profile_id, @profiles, {}, { 'data-placeholder' => "Choose a Profile...", :class => 'chosen-select' } %>
  </div>
  <script>
  	$(".chosen-select").chosen();
  </script>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<img src="<%= params[:imageUrl] %>" width="500">
