<% title "Edit Forum Post for #{@profile.name}'s Profile" %>
<% description "Edit forum post for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, forum, post" %>
<table class="activity-with-menu">
  	<tbody>
    	<tr>
      		<td class="activity-with-menu-left">
      			<h1>Editing Post</h1>

          <table width="100%" border="1">
          <thead>
            <tr>
              <td colspan="2">
                <%= @post.topic.label %>
                <% if current_user && @topic.user == current_user %>
                  <%= link_to 'Edit', edit_profile_topic_path(@profile, @topic) %>
                <% end %>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>
                  <strong>Created by:</strong>
                  <%= @post.topic.user.name %>
                </p>
              </td>
              <td>
                <p>
                  <%= @post.topic.message %>
                </p>
              </td>
            </tr>
          </tbody>
        </table>

<%= render 'form', post: @post %>

<%= link_to 'Show', profile_topic_post_path(@profile, @topic, @post) %> |
<%= link_to 'Back', profile_topic_posts_path(@profile, @topic) %>
			</td>
      		<td class="activity-with-menu-right">
        		<%= render 'profiles/menu', profile: @profile %>
      		</td>
    	</tr>
  	</tbody>
</table>