<% title "View Forum Posts for #{@profile.name}'s Profile" %>
<% description "Viewing all Forum Posts for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, forum, post" %>
<table class="activity-with-menu">
    <tbody>
      <tr>
          <td class="activity-with-menu-left">
            <p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Topic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.body %></td>
        <td><%= post.topic_id %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
      </td>
          <td class="activity-with-menu-right">
            <%= render 'profiles/menu', profile: @profile %>
          </td>
      </tr>
    </tbody>
</table>