<% title "New Forum Post for #{@profile.name}'s Profile" %>
<% description "Create forum post for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, forum, post" %>
<table class="activity-with-menu">
    <tbody>
      <tr>
          <td class="activity-with-menu-left">
        <h1><%= link_to @profile.name, profile_path(@profile) %></h1>
        <h2><%= link_to 'Forum', profile_topics_path(@profile) %></h2>
        <h3>New Post</h3>
          <table width="100%" border="1" class="forum">
          <thead>
            <tr>
              <td colspan="2" class="topic">
                <%= @post.topic.label %>
                <% if current_user && @topic.user == current_user %>
                  <%= link_to 'Edit', edit_profile_topic_path(@profile, @topic) %>
                <% end %>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="createdBy">
                <p>
                  <strong>Created by:</strong>
                  <%= @post.topic.user.name %>
                </p>
              </td>
              <td class="body">
                <p>
                  <%= @post.topic.message %>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
<%= render 'form', post: @post %>

		<%= link_to 'Back', profile_topic_posts_path(@profile, @topic) %>
			</td>
      		<td class="activity-with-menu-right">
        		<%= render 'profiles/menu', profile: @profile %>
      		</td>
    	</tr>
  	</tbody>
</table>