<% title "View Forum Post for #{@profile.name}'s Profile" %>
<% description "Viewing forum post for #{@profile.name}'s profile" %>
<% keywords "#{@profile.name}, forum, post" %>
<table class="activity-with-menu">
    <tbody>
      <tr>
          <td class="activity-with-menu-left">
          	<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @post.topic_id %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', profile_topic_posts_path(@profile, @topic) %>

			</td>
      		<td class="activity-with-menu-right">
        		<%= render 'profiles/menu', profile: @profile %>
      		</td>
    	</tr>
  	</tbody>
</table>