<div class="quick">
					<% if current_admin %>
						<% if Subdomain.matches?(request) %>
							<%= link_to 'Quit', root_url(subdomain: nil, host: Settings.host) %>
						<% else %>
							<%= link_to 'Quit', destroy_admin_session_url(subdomain: nil, host: Settings.host), method: :delete, data: { confirm: 'Are you sure you want to quit?' } %>
						<% end %>
					<% end %>
					<% if current_user %>
						<% if Subdomain.matches?(request) %>
						<%= link_to 'Sign Out', root_url(subdomain: nil, host: Settings.host) %>
						<% else %>
						<%= link_to 'Sign Out', destroy_user_session_url(subdomain: nil, host: Settings.host), method: :delete, data: { confirm: 'Are you sure you want to sign out?' } %>
						<% end %>
					
					<% end %>
				</div>