<!-- © Copyright Nathaniel Cavazzi Brown nate(at)purefame.com //-->
<!DOCTYPE html>
<head>
	<%= display_meta_tags site: 'PUREFAME - The Entertainment Database' %>
  	<meta charset="UTF-8">
	<%= csrf_meta_tags %>
<!--
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
	    google_ad_client: "ca-pub-8857494839280576",
	    enable_page_level_ads: true
	  });
	</script>
//-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-117489258-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-117489258-1');
	</script>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<%= javascript_include_tag 'application' %>
	<%= javascript_include_tag Ckeditor.cdn_url %>

	<style>
	* {
		font-family: verdana, helvetica, arial;
	}

	body { 
		margin-right: 0px;
		margin-left: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		background-color: rgb(6, 7, 65);
		color: #fff;
		font-family: verdana, helvetica, arial;
	}

	a {
		color: #fff;
	}

	.header .logo {
		display: inline-block;
	}

	.header .quick {
		display: inline-block;
		float: right;
		color: #000;
	}

	.header .quick a {
		color: #000;
	}
	
	.banner {
		background-color: #949494;
	}

	.body {
		background-color: #ED3722;
	}

	.wufoo-form-container div,
	.wufoo-form-container p
	{
		color: #000 !important;
	}

	.info div {
		border: 1px red solid;
		color:#000 !important;
	}

	.footer .copyright {
		font-family: verdana, helvetica, arial;
		float: left; 
		padding: 0; 
		margin: 2px 0 0 0; 
		width: 453px; 
		height: 34px; 
		font-size: 7px; 
		line-height: 7px;
		display: block; 
		text-align: left;
	}

	.footer .copyright a {
		color: #fff;
	}

	.banner table {
		font-family: verdana, helvetica, arial;
		font-size: 12px;
		width: 670px; 
		height: 82px; 
		border: 1px solid #FFFFFF;
	}

	.banner .path {
		font-family: verdana, helvetica, arial;
		padding: 0 0 0 10px;
		font-size: 16px;
	}

	.banner .icon {
		font-family: wingdings; 
		margin-left: 4; 
		margin-right: 4;
	}

	#error_explanation {
		background: #000;
	}

	.profile-menu a {
		color: #000;
	}

	.profile-menu a:hover {
		color: #fff;
	}

	.activity-with-menu {
	  width: 100%;
	}
	.activity-with-menu-left {
	  width: 590px;
	  vertical-align: top;
	}
	.activity-with-menu-right {
	  width: 180px; 
	  vertical-align: top;

	}

	ul.activity-menu-actual {
	  padding: 0 0 0 10px;
	  margin: 0;
	}

	ul.activity-menu-actual li {
	  padding: 0 0;
	  margin: 0;
	  list-style-type: none;
	}

	ul.activity-menu-actual a {
	  display: block;
	  padding: 3px 0 ;
	}

	ul.activity-menu-actual a:hover {
	  text-decoration: none;
	}

	ul.activity-menu-actual ul {
	}
	
	.wallpaper {
        display: inline-block;
        margin: 0 5px 10px 0;
	}
	 
	    .video {
          display: inline-block;
          width: 225px;
        }

        .buttons {
    		display: inline-block;
    		width: 100px;
  		}

		.forum .topic {
        }
        .forum .createdBy {
          	width: 150px;
        }
        .forum .createdBy p {
          	font-size: 7pt !important;
        }

        .guestbook {
		  width: 100%;
		}
		.guestbook .createdBy {
		  width: 130px;
		}
		.guestbook td.createdBy {
		  font-size: 8pt;
		}
		.guestbook .body {

		}
		.guestbook .empty {
		  text-align: center;
		  font-weight: bold;
		}

		.top100 {
  width: 100%;
}

.top100 .place {
  width: 1%;
}

.top100 .hitsOut,
.top100 .hitsIn {
  width: 75px;
  text-align: center;
}

.top100 .actions {
  width: 1%;
}
.advertisement {
		height: 60px;
}
</style>


</head>

<body>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
	<tr>
	    <td class="header" height="75" align="center"  style="background: #fff;" valign="middle">
			<div style="width: 670px; text-align: left;">
				<div class="logo">
					<%= link_to image_tag("purefame_logo-black_with_white_bg.gif"), root_url(subdomain: nil, host: Settings.host)  %><br />
				</div>
				<% # render 'layouts/sign_out_menu' %>
			</div>
	    </td>
	</tr>
	<tr>
	    <td height="95" class="banner" align="center" valign="middle">
			<table>
			<tbody>
				<tr>
					<td width="100%" class="path">
				      	<%= link_to 'Profiles', root_url(subdomain: nil, host: Settings.host), class: 'home' %>
				      	
				        <span class="icon">★</span>
				        <span class="venue"><%= link_to 'Blog', news_index_url(subdomain: nil, host: Settings.host) %></span>
				        <span class="icon">★</span>
				        <span class="venue">Entertainment</span>
				        <span class="icon">★</span>
				        <%= link_to 'Get a Business Card', home_order_url(subdomain: nil, host: Settings.host), class: 'link' %>
		      		</td>
				</tr>
			</tbody>
			</table>

	    </td>
	</tr>
	<tr>
	    <td class="body" align="center">
	    	<a href="http://www.dpbolvw.net/click-8731735-10882144?cm_mmc=CJ-_-5059889-_-8731735-_-Save%20on%20Orlando's%20Best%20Theme%20Parks!%20728x90">
<img src="http://www.ftjcfx.com/image-8731735-10882144" width="728" height="90" alt="Save on Orlando's Best Theme Parks!" border="0"/></a>

	        <%= image_tag 'pixel.gif', :height => 10, :width => 1, :border => 0 %><br />
	        <table style="width: 670px;">
		        <tbody>
		        	<tr>
		        		<td width="100%">
				        	<%= yield %>
				        	<br/>

		        			<p class="notice"><%= notice %></p>
       						<p class="alert"><%= alert %></p>

				        	<%= image_tag 'pixel.gif', :height => 1, :width => 670, :border => 0 %><br />
	        
				        </td>
				    </tr>
				</tbody>
			</table>
			<%= image_tag 'pixel.gif', :height => 10, :width => 1, :border => 0 %><br />
	    </td>
	</tr>
	<tr>
	    <td align="center" class="footer" valign="bottom">
				<div style="display: inline-block; height: 34px; padding: 0; margin: 10px 0 0 0 ;">
					<div style="float: left; display: inline-block; width:51px; height 100%;">
						<a href="/">
							 <%= image_tag 'purefame_icon.gif', :height => 32, :width => 51, :style => 'padding-right: 10px;' %></a><br />
					</div>
					<div style="float: left; margin: 0 10px; display: inline-block; border-left: 1px dotted #FFFFFF; width: 1px; height: 34px;">&nbsp;
						<%= image_tag 'pixel.gif', :height => 34, :width => 1, :border => 0 %>
					</div>
					<div class="copyright">
						Please locate your local legal department for legal restrictions and standard terms of use applicable to this site and the digital millenium copyright act. Use of this site signifies your agreement to these terms of use.
						<%- if current_admin.nil? && controller_name != 'sessions' %>
					  	<%= link_to "X", new_admin_session_path %><br />
						<% end -%>
					</div>
				</div>
	    </td>
	</tr>
</tbody>
</table>

</body>
</html>